---

---
<header>
    <div class="flex items-center justify-evenly h-20 z-10 w-[1024px] mx-auto mb-16">
        <div class="flex-1"/>
        <a href="/" class="flex-1 text-center py-7 hover:bg-[#B47913] font-electrolize uppercase">
            Home
        </a>
        <a href="#" class="flex-1 text-center py-7 hover:bg-[#B47913] font-electrolize uppercase">
            News
        </a>
        <a href="#" class="flex-1 text-center py-7 hover:bg-[#B47913] font-electrolize uppercase">
            Pferde
        </a>
        <div class="mt-16 w-[200px] px-4 z-50">
            <img src="/logo.svg" alt="Logo" height="160px"/>
        </div>
        <a href="#" class="flex-1 text-center py-7 hover:bg-[#B47913] font-electrolize uppercase">
            Über uns
        </a>
        <a href="#" class="flex-1 text-center py-7 hover:bg-[#B47913] font-electrolize uppercase">
            Galerie
        </a>
        <div class="flex-1"/>
        <div class="flex-1 text-center py-7 hover:bg-[#B47913] font-electrolize uppercase">
            fb/ig
        </div>
    </div>
</header>
