---
import NewsArticleBig from "./homepage/news/NewsArticleBig.astro";
import NewsArticleSmall from "./homepage/news/NewsArticleSmall.astro";

const {posts} = Astro.props
---
<div class="max-w-5xl mx-auto">
    <div class="flex flex-col items-center justify-center gap-8">
        <div class="flex flex-col space-y-8">
            <div class="space-y-2">
                <div class="font-normal text-[#04482c] text-3xl text-center">
                    News
                </div>
                <div class="font-bold text-[#04482c] text-sm tracking-widest text-center uppercase">
                    Neues aus Pichl
                </div>
            </div>


            <NewsArticleBig post={posts[0]}/>
            <div class="pt-80 px-8 -mt-80 bg-white rounded-2xl shadow-2xl">
                <div class="flex gap-8">
                  {posts.slice(1, 5).map(post => (
                          <NewsArticleSmall post={post}/>
                  ))}
                </div>
                <div class="flex justify-center py-8">
                    <a href="#" class="flex flex-col items-center">
                        <span class="tracking-widest uppercase text-sm">Mehr lesen</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="lucide lucide-chevron-down-icon lucide-chevron-down">
                            <path d="m6 9 6 6 6-6"/>
                        </svg>
                    </>
                </div>
            </div>
        </div>
    </div>
</div>
